// 全局变量
@primary-color: #1890ff; // 主色调（与 Ant Design 一致）
@light-bg: #f5f5f5;
@dark-bg: #141414;
@light-text: #333333;
@dark-text: #e5e5e5;

:root {
  /* 全局基础字体（对应 Ant Design 所有文本组件） */
  --ant-font-family: "SimSun", "Songti SC", serif !important;
  /* 可选：单独设置 monospace 字体（代码块等场景，如需宋体也可替换） */
  --ant-font-family-monospace: "SimSun", "Songti SC", monospace !important;
}

// 全局重置
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "SimSun", "Songti SC", serif;
}

#app * {
  font-family: inherit;
}

#app [class^="x-icon"],
#app [class*=" x-icon"] {
  font-family: initial !important;
  //font-family: 'XIcon' !important
  /* 如果不需要指定字体，仅恢复默认：font-family: initial !important; */
}

// 主题通用样式
.light-theme {
  --bg-color: @light-bg;
  --text-color: @light-text;
  --sidebar-bg: #ffffff;
  --header-bg: #ffffff;
  --content-bg: #fafafa;
  --header-text-color: #222222;
  --header-progress-color: #22222233;
  --header-progress-completed-color: #00A0E4FF;
  --header-progress-current-color: #f2c22aff;
  --sider-text-color: #22222299;
  --sider-menu-border-color: #E6E6E6FF;
  --sider-menu-select-color: #e2f2fcff;
  --sider-menu-select-font-color: #222222FF;
  --btn-bg-color: #0097e0ff;
  --mask-color: #bbbbbbba;
  --success-color: #2BB88AFF;
  --fail-color: #F76F83FF;
}

.dark-theme {
  --bg-color: @dark-bg;
  --text-color: @dark-text;
  --sidebar-bg: #1f1f1f;
  --header-bg: #2f2f2f;
  --content-bg: #1f1f1f;
}
