// 浅色主题专属样式
.light-theme {
  .ant-menu {
    background-color: #ffffff;
    color: #333333;
  }

  .ant-table {
    background-color: #ffffff;
    color: #333333;
  }

  .ant-btn-primary {
    background-color: #00a0e4ff;
  }

  .ant-btn-primary:not(:disabled):hover {
    background-color: #00a0e4ff;
  }

  .ant-modal-content {
    padding-left: 0;
    padding-right: 0;
  }

  // .ant-modal {
  //   background-color: #FEFEFEFF;
  // }

  .ant-modal-title {
    padding-left: 12px;
    padding-right: 12px;
  }

  .ant-modal-body {
    padding-left: 6px;
    padding-right: 6px;
  }

  .ant-modal-footer {
    padding-left: 12px;
    padding-right: 12px;
  }

  .ant-table-striped :deep(.table-striped) td {
    background-color: #fafafa;
  }

  .ant-table-striped :deep(.table-striped-1) td {
    background-color: #ffffff;
  }
}
